@using GlsunView.Infrastructure.HtmlHelpers
@using GlsunView.Domain
@model GlsunView.Domain.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/layout.css" />
    <link rel="stylesheet" href="~/Content/css/leftMenu.css" />
    <link rel="stylesheet" href="~/Content/css/nav.css" />
    <link rel="stylesheet" href="~/Content/css/status.css" />
    <link rel="stylesheet" href="~/Content/css/tab.css" />
    <link rel="stylesheet" href="~/Content/css/tabEx.css" />
    <link rel="stylesheet" href="~/Content/css/dialog.css" />
    <link rel="stylesheet" href="~/Content/css/tag.css" />
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/glsun.control.js"></script>
    <script src="~/scripts/jquery.leftmenu.js"></script>
    <script src="~/scripts/lib/dialog.js"></script>
    <title>Glsun View网管系统</title>
</head>
<body>
    <div class="main_body">
        <div class="main_body_top">
            <div class="nav-bar">
                <div class="nav-bar-left">
                    @*<a id="menu" href="#">
                        <i class="fa fa-list-ul fa-fw"></i>
                    </a>
                    <a id="status" href="#">
                        <i class="fa fa-bar-chart fa-fw"></i>
                    </a>*@
                    <a class="website-name">
                        <i class="fa fa-cubes fa-fw"></i>
                        <span>OTS3000平台网络管理系统</span>
                    </a>
                </div>
                <div class="nav-bar-middle">
                    <ul class="tag">
                        <li class="tag_label light_critical">严重<span class="tag_badge critical">9999</span></li>
                        <li class="tag_label light_major">重要<span class="tag_badge major">9999</span></li>
                        <li class="tag_label light_minor">次要<span class="tag_badge minor">9999</span></li>
                        <li class="tag_label light_warn">警告<span class="tag_badge warn">9999</span></li>
                        <li class="tag_label light_normal">正常<span class="tag_badge normal">0</span></li>
                    </ul>
                </div>
                <ul class="nav-bar-menu">
                    <li class="drop-down">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>@Model.UName</span>
                            <i class="fa fa-caret-down drop-down-arrow"></i>
                        </a>
                        <ul class="drop-down-content">
                            <li><a href="#" onclick="changePWD();">
                                    <i class="fa fa-lock"></i>
                                <span>修改密码</span></a></li>
                            @*<li><a href="">退&#12288;&#12288;出</a></li>*@
                            <li id="exit">                                
                                <a href="/Account/Logout">
                                    <i class="fa fa-power-off"></i>
                                    <span>退&#12288;&#12288;出</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_body_content">
            <div class="content_menu">
                <div class="leftMenu">
                    @*@Html.ModuleMenu((IEnumerable<Module>)ViewBag.Menu)*@
                    @Html.Action("Menu")
                </div>
            </div>
            <div class="content_container">
                <div id="tabControl" class="tab"></div>
            </div>
        </div>
        <div class="main_body_bottom">
            <div class="tabEx">
                <div class="tabEx-body">
                    <div class="active" id="tab1">
                        <iframe src="@Url.Action("Index", "CurrentAlarm")"></iframe>
                    </div>
                    <div id="tab2">
                        <iframe src="@Url.Action("Index", "HistoryAlarm")"></iframe>
                    </div>
                </div>
                <div class="tabEx-header">
                    <ul>
                        <li class="active" data-tab="tab1">当前告警</li>
                        <li data-tab="tab2">历史告警</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="menuTrigger" class="menu_trigger"></div>
        <div id="statusTrigger" class="status_trigger"></div>
    </div>
    <script>
        var hTimer;
        var tab;
        $(function () {
            $("#menuTrigger").click(function () {
                var interval = 200;
                if ($(".content_menu").css("marginLeft") != "0px") {
                    $(".content_menu").animate({ marginLeft: 0 }, { duration: interval });
                    $(".content_container").animate({ marginLeft: 201 }, { duration: interval });
                    tab.setMenuOffset({ x: -200, y: -50 });
                }
                else {
                    $(".content_menu").animate({ marginLeft: -200 }, { duration: interval });
                    $(".content_container").animate({ marginLeft: 0 }, { duration: interval });
                    tab.setMenuOffset({ x: 0, y: -50 });
                }
            });
            $("#statusTrigger").click(function () {
                var interval = 200;
                if ($(".main_body_bottom").css("height") != "0px") {
                    $(".main_body_bottom").animate({ height: 0 }, interval, null,
                        function () {
                            $(this).hide();
                        });
                    $(".main_body_content").animate({ bottom: 0 }, { duration: interval });
                }
                else {
                    $(".main_body_bottom").show().animate({ height: 150 }, { duration: interval });
                    $(".main_body_content").animate({ bottom: 150 }, { duration: interval });
                }
            });
            //标签页关闭事件
            tab = new glsun.TabControl();
            tab.init("#tabControl", {
                onTabClose: function (e) {
                }
            }).add("首页", "@Url.Action("Index", "Dashboard")", true);
            tab.setMenuOffset({ x: -200, y: -50 });
            initMenu();

            //扩展标签页控件
            $(".tabEx-header ul li").click(function () {
                var $this = $(this);
                if ($this.hasClass("active")) return;
                $(".tabEx-body div.active").removeClass("active");
                $(".tabEx-header ul li.active").removeClass("active");
                $this.addClass("active");
                document.getElementById($this.data("tab")).className = "active";
            });

            //告警处理
            updateAlarmStatistics();
            hTimer = setInterval(function () {
                updateAlarmStatistics();
            }, 1000);
        });
        var pwdDialog = null;
        function changePWD() {
            pwdDialog = dialog({
                title: '修改密码',
                content: '<iframe name="formFrame" src="@Url.Action("ChangePassword", "Account")"></iframe>',
                okValue: '确定',
                ok: function () {
                    //调用Frame的方法
                    var childWindow = formFrame.window;
                    childWindow.submitForm();
                    return false;
                },
                cancelValue: '取消',
                cancel: function () {
                    //alert("取消");
                }
            }).width(300).height(300).showModal();
        }
        //初始化菜单
        function initMenu() {
            var menu = $("div.leftMenu");
            menu.leftmenu({
                clickCallBack: function () {
                    var aTag = $(this).children("a")[0]
                    var title = aTag.innerText;
                    var url = aTag.href;
                    if (url != "http://" + aTag.host + "/#") {
                        tab.add(title, url);
                    }
                }
            });
        }
        //菜单改变了
        function menuChanged(dataId) {
            var menu = $("div.leftMenu");
            //保存已展开的数据ID
            var expands = [];
            var uls = $(".leftMenu li > ul");
            uls.each(function (index, element) {
                var $this = $(this);
                if ($this.css("display") == "block") {
                    var liId = $this.parent("li").data("id");
                    expands.push(liId);
                }
            });
            $.get('@Url.Action("Menu")', "", function (data, status, jqXHR) {
                if (status == "success") {
                    menu.html(data);
                    initMenu();
                    expandMenu(expands);
                    //Tab中移除已经删除的子网和设备
                    var a = menu.find("a");
                    var arrHref = new Array();
                    for (var i = 0; i < a.length; ++i) {
                        var href = $(a[i]).attr("href");
                        var blank = "http://" + a[i].host + "/#";
                        if (href != "#") {
                            var fullHref = "http://" + a[i].host + "/" + href;
                            arrHref.push(fullHref);
                            console.log(fullHref);
                        }
                    }
                    for (var prop in tab.tabPages) {
                        console.log(prop);
                        var tabpage = tab.tabPages[prop];
                        //已打开标签页不存在
                        if (arrHref.indexOf(prop) == -1 && tabpage.alwaysShow == false) {
                            tab.remove(prop);
                        }
                    }
                    //更新标题
                    if (dataId) {
                        var aTag = $(".leftMenu li[data-id='" + dataId + "']").children("a")[0];
                        var title = aTag.innerText;
                        var url = aTag.href;
                        tab.updateTitle(url, title);
                    }
                }
            }, "html");
        }
        function expandMenu(ids) {
            var uls = $(".leftMenu li > ul");
            uls.each(function (index, element) {
                var $this = $(this);
                var liId = $this.parent("li").data("id");
                if ($.inArray(liId, ids) != -1) {
                    $this.show();
                    $this.parent("li").addClass("expanded");
                    $this.prev().children("i:last").addClass("expanded-Arrow");
                }
            });
        }
        //子页面回调
        function childCallback(data) {
            if (data.Code == "") {
                var d = dialog({
                    content: '修改成功！账号将退出，请重新登陆。'
                });
                d.show();
                setTimeout(function () {
                    d.close().remove();
                    window.location.reload();
                }, 2000);
            } else if (data.Code == "Exception") {
                var d = dialog({
                    title: '提示',
                    content: "服务器异常！\n" + data.Message
                });
                d.show();
            } else {
                var d = dialog({
                    title: '提示',
                    content: "请求异常！"
                });
                d.show();
            }
            if (pwdDialog) {
                pwdDialog.close().remove();
            }
        }
        //更新告警统计信息
        function updateAlarmStatistics() {
            try {
                $.get("@Url.Action("GetRealTimeAlarmCount", "Home")", {},
                function (data, status, jqXHR) {
                if (status == "success" && data) {
                    for (var m in data) {
                        //console.log(m + data[m]);
                        $(".tag .tag_label ." + m).text(data[m]);
                    }
                }
            }, "json");
            }
            catch (e) {
                console.log(e.description);
                clearInterval(hTimer);
            }
            finally {

            }
        }
    </script>
</body>
</html>
