@model IEnumerable<GlsunView.Domain.AlarmInformation>
@{
    ViewBag.Title = "Index";
    string level = (string)ViewBag.Level;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        *{
            padding:0;
            margin:0;
        }
        table{
            font-size:14px;
            border: 0;
            width: 100%;
            border-collapse: collapse;
            background-color: #000;
        }
        .table-data thead{
            color: #eee;
            background-color:#445577;
        }
        .table-data tbody{
            overflow:scroll;
        }
        .table-data tbody tr td{
            cursor:context-menu;
        }
        .critical{
	        color:red;
        }
        .major{
	        color:orange;
        }
        .minor{
	        color:yellow;
        }
        .warn{
	        color:blue;
        }
        .normal{
	        color:green;
        }
        .selected{
            color:#eee;
        }
        /*菜单*/
        .menu{
                margin: 0;
                padding: 0;
                list-style: none;
                width: 150px;
                border:1px solid #ccc;
                box-shadow: 1px 1px 2px #ccc;
                font-size: 14px;
                position: absolute;
                display: none;
                background-color:#fff;
            }
            .menu-item{
                height: 20px;
                line-height: 20px;
                cursor: default;
                padding-left:20px;
            }
            .menu-item:hover{
                background-color: #eee;
            }
    </style>
</head>
<body>
    @*<button type="button" id="btnTest">测试</button>*@
    <table class="table-data">
        <thead>
            <tr>
                <th>设备名称</th>
                <th>子网名称</th>
                <th>设备IP</th>
                <th>告警级别</th>
                <th>详细信息</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr class="@e.AILevel.ToLower()" data-data-id="@e.ID">
                    <td>@e.DName</td>
                    <td>@e.AIType</td>
                    <td>@e.DAddress</td>
                    <td>@e.AILevel</td>
                    <td>@e.AIContent</td>
                    <td>@e.AITime.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="menu">
        <li class="menu-item">确认</li>
        <li class="menu-item">确认全部</li>
    </ul>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/lib/contextmenu.js"></script>
    <script>
        var hTimer;
        $(function () {
            $("#btnTest").click(function () {
                updateAlarm();
            });
            //hTimer = setInterval(function () {
            //    updateAlarm();
            //}, 1000);
            //选中标记
            $(".table-data tbody tr").click(function () {
                //$(".table-data tr").removeClass("selected");
                //$(this).addClass("selected");
                registerRowClick(this);
            });
            //上下文菜单
            var menu = new SimpleMenu(".menu");
            menu.init(function () {
                var text = this.textContent;
                var ids = "";
                if (text == "确认") {
                    ids = $(".table-data tbody tr.selected").data("data-id");
                }
                else if (text == "确认全部") {
                    ids = getAllDataId();
                }
                console.log(ids);
                if (ids && ids != "") {
                    $.post("@Url.Action("ConfirmFast", "CurrentAlram")", { confirmIds: ids },
                    function (data, status, jqXHR) {
                        if (status == "success" && data) {
                            console.log("ok:" + data.length);
                            if (data.length > 0) {
                                for (var i = 0; i < data.length; ++i) {
                                    $(".table-data tbody tr").each(function (index, element) {
                                        if ($(element).data("data-id") == data[i]) {
                                            $(element).remove();
                                        }
                                    });
                                }
                            }
                        }
                    }, "json");
                }
            });
        });
        //注册行点击事件
        function registerRowClick(elem) {
            $(".table-data tbody tr").removeClass("selected");
            $(elem).addClass("selected");
        }
        //获得所有数据行ID
        function getAllDataId() {
            var ids = '';
            $(".table-data tbody tr").each(function (index, element) {
                ids += "," + $(element).data("data-id");
            });
            if(ids != "")
                ids = ids.substring(1, ids.length);
            return ids;
        }
        function updateAlarm() {
            try{
                var ids = '';
                var level = '@(((string)ViewBag.Level).ToUpper())';
                $(".table-data tbody tr").each(function (index, element) {
                    ids += "," + $(element).data("data-id");
                });
                ids = ids.substring(1, ids.length);
                $.post("@Url.Action("RealTimeAlarm", "CurrentAlram")", { level: level, exceptIds: ids },
                    function (data, status, jqXHR) {
                        if (status == "success" && data) {
                            console.log("ok:" + data.length);
                            if (data.length > 0) {
                                for (var i = 0; i < data.length; ++i) {
                                    var item = data[i];
                                    var time = data[i].AITime;
                                    console.log(time);
                                    console.log(formatNumToDate(time));
                                    var tr = '<tr class="@level" data-data-id="' + item.ID + '">';
                                    tr += '<td>' + item.DAddress + '</td>';
                                    tr += '<td>&nbsp;:&nbsp;</td>';
                                    tr += '<td>' + item.AIContent + '</td>';
                                    tr += '<td width="50px"></td>';
                                    tr += '<td>' + formatNumToDate(item.AITime) + '</td>';
                                    tr += '</tr>';
                                    console.log(tr);

                                    var $tr = $(tr);
                                    $(".table-data tbody").prepend($tr);
                                    //先添加的注册事件
                                    $(".table-data tbody tr[data-data-id='" + item.ID + "']").click(function () {
                                        registerRowClick(this);
                                    });
                                }
                            }
                        }
                    }, "json");
            }
            catch (e) {
                console.log(e.description);
                clearInterval(hTimer);
            }
            finally{

            }
        }
        function compareNine(value) {
            return value > 9 ? value : '0' + value;
        }
        function formatNumToDate(value) {
            var now = eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));///.../gi是用来标记正则开始和结束；\是转义符；()标注了正则匹配分组1，$1

            //直接借助datapattern.js扩展 return now.pattern('yyyy-MM-dd hh:mm:ss');
            //或者使用下面方式计算
            var year = now.getYear() + 1900;//或者 now.getFullYear();
            var month = now.getMonth() + 1;
            var date = now.getDate();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            return year + "-" + compareNine(month) + "-" + compareNine(date) + " " + compareNine(hour) + ":" + compareNine(minute) + ":" + compareNine(second);
        }
    </script>
</body>
</html>

